body{
    background-color:lightgrey;
}
nav{
    background-color: mistyrose;
}
h2{
    font-family:cursive

}
h1{
    font-family:fantasy;
}
a{
    color:maroon;
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    text-decoration: underline;
    color:salmon;
}
img{
    box-shadow: 0 0 20px;
   
}
footer{
    font-size: 20px;
    font-family: monospace;
    background-image: url(./darfot.jpg);
}
li{
    margin: 0 15px;
}